{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Blog</h1>

        {% for post in posts %}
            <div>
                <h2>{{ post.title }}</h2>
                <p>
                    {{ post.lead }}
                </p>
            </div>
        {% endfor %}

        <div>
        {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}

